html, body {
  font-family: "Inter", Helvetica, Arial, sans-serif;
}

@keyframes slideDownTopBottom {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDownLeftRight {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

@keyframes expandHorizontalCenter {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 0.9;
  }
}

.page-container {
  position: relative;
  .main-page {
    justify-content: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: white;
    .page-content {
      display: flex;
      animation: slideDownTopBottom 0.5s ease-out forwards;
      z-index: 1;
      flex-direction: column;
      background-color: #ffffff;
      justify-content: center;
      margin: 2vw 10vw;
      width: 100%;
      max-width: 30rem;
      border-radius: 12px;
      .main-content {
        .cart {
          padding: 2.5rem 2.5rem 0;
          .cart-helder {
            .cart-logo {
              width: 5.75rem;
              display: flex;
              margin: 0;
              font-weight: 500;
              font-family: emoji;
              font-size: 21px;
              .loginCart-helder {
                margin-right: 0.2rem;
                img {
                  width: 8rem;
                  height: 2.5rem;
                }
              }
            }
          }
          .login-cart-content {
            .main-cart-section {
              .headings-container {
                display: flex;
                margin-bottom: 24px;
                align-items: flex-start;
                .ui-heading {
                  color: #303030;
                  font-style: normal;
                  letter-spacing: -0.2px;
                  font-weight: 700;
                  margin-top: 0;
                  margin-bottom: 2px;
                  font-size: 24px;
                  line-height: 32px;
                }
                .ui-subheading {
                  margin: 0;
                  font-size: 14px;
                  color: #606060;
                  font-style: normal;
                  font-weight: 450;
                  line-height: 20px;
                }
              }
              .account-lookup {
                margin: 0;
                p, label {
                  opacity: 0.9;
                }
                .combined-email, .combined-name {
                  .next-email, .next-name {
                    position: relative;
                    .next-email-label, .next-name-label {
                      font-size: 14px;
                      line-height: 20px;
                      display: block;
                      font-weight: 400;
                      margin-bottom: 4px;
                      cursor: pointer;
                    }
                    .next-input {
                      overflow: hidden; // làm cho các thẻ nằm phía trong không tràn ra phía ngoài ther div này nếu tràn bị ẩn đi
                      background-color: #FFFFFF;
                      max-height: 2.5rem;
                      line-height: 20px;
                      position: relative;
                      display: flex;
                      box-sizing: border-box;
                      border-style: solid;
                      vertical-align: baseline;
                      align-items: center;
                      border-radius: 8px;
                      border-width: 1px;
                      border-color: #1A1A1A;
                      font-weight: 400;
                      width: 100%;
                      color: #303030;
                      .combined-input {
                        flex: 1 1;//lấp đầy không gian trống (nếu có) và cũng có thể co lại khi không gian bị hạn chế
                        .email, .name {
                          position: relative;
                          background: none;
                          border: 0;
                          width: 100%;
                          font-size: 0.875rem;
                          outline: none;
                          box-sizing: border-box;
                          font-weight: 450;
                          padding: 12px;
                          line-height: 12px;
                        }
                      }
                    }
                    .next-input:focus-within {// tạo viền và khoàng cách giữa viền với thẻ div mà ko ảnh hưởng đến thẻ
                      outline: 2px solid #005bd3;
                      outline-offset: 1px;
                      background-color: #f3f3f3;
                      transition: outline-offset .75ms linear;
                    }
                  }
                  .next-email {
                    opacity: 0;
                    animation: slideDownLeftRight 0.5s ease-out forwards;
                    //animation-delay: 1.0s;
                  }
                  .next-name {
                    opacity: 0;
                    animation: slideDownLeftRight 0.5s ease-out forwards;
                    //animation-delay: 1.0s;
                  }
                }
                .section-help-text {
                  width: 100%;
                  margin-top: 5px;
                  margin-bottom: 10px;
                  min-width: 220px;
                  box-sizing: border-box;// kích thước ko bao gồm border và padding ý là giữ nguyên ấy
                  .next-text-help-text {
                    margin: 0;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.25rem;
                    color: #303030;
                  }
                }
                .combined-password, .combined-newPassword {
                  .next-password, .next-newPassword {
                    position: relative;
                    margin-top: 0.5rem;
                    .next-password-label, .next-newPassword-label {
                      font-size: 14px;
                      line-height: 20px;
                      display: block;
                      font-weight: 400;
                      margin-bottom: 4px;
                      cursor: pointer;
                    }
                    .next-input {
                      border-radius: 8px;
                      border-width: 1px;
                      border-color: #1A1A1A;
                      background-color: #FFFFFF;
                      max-height: 2.5rem;
                      line-height: 20px;
                      position: relative;
                      display: flex;
                      box-sizing: border-box;
                      border-style: solid;
                      vertical-align: baseline;
                      align-items: center;
                      font-weight: 400;
                      width: 100%;
                      color: #303030;

                      .combined-input {
                        flex: 1 1; //lấp đầy không gian trống (nếu có) và cũng có thể co lại khi không gian bị hạn chế
                        .password, .newPassword {
                          position: relative;
                          background: none;
                          border: 0;
                          width: 100%;
                          font-size: 0.875rem;
                          outline: none;
                          box-sizing: border-box;
                          font-weight: 450;
                          padding: 12px;
                          line-height: 12px;
                        }
                      }
                    }
                    .next-input:focus-within {// tạo viền và khoàng cách giữa viền với thẻ div mà ko ảnh hưởng đến thẻ
                      outline: 2px solid #005bd3;
                      outline-offset: 1px;
                      background-color: #f3f3f3;
                      transition: outline-offset .75ms linear;
                    }
                  }
                  .next-password {
                    opacity: 0;
                    animation: slideDownLeftRight 0.5s ease-out forwards;
                    //animation-delay: 1.0s;
                  }
                  .next-newPassword {
                    opacity: 0;
                    animation: slideDownLeftRight 0.5s ease-out forwards;
                    //animation-delay: 1.0s;
                  }
                }
                .button-login-container {
                  .ui-button {
                    margin-top: 8px;
                    opacity: 0;
                    animation: expandHorizontalCenter 0.5s ease-out forwards;
                    animation-delay: 0.5s;
                    font-weight: 500;
                    display: flex;//giúp bạn dễ dàng sắp xếp các phần tử theo chiều ngang hoặc chiều dọc quản lý khoảng cách giữa chúng
                    min-height: 32px;
                    min-width: 32px;
                    height: auto;
                    padding: 12px 16px;
                    border-radius: 8px;
                    background-color: #303030;
                    position: relative;// tạo bố cục Di chuyển một phần tử tới vị trí mới mà không ảnh hưởng đến vị trí của các phần tử khác.băằng left right top
                    width: 100%;
                    color: #FFFFFF;
                    cursor: pointer;
                    border-bottom-width: 3px;
                    align-items: center;// căn giữa theo chiều dọc trục Oy
                    justify-content: center; // căn giữa ngang Ox
                    .content {
                      position: relative;
                      font-size: 14px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      transition: transform 75ms cubic-bezier(0.19, 0.91, 0.38, 1);
                      user-select: none;
                      .ui-button-text {
                        font: 1rem "ShopifySans", -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
                        font-size: 15px;
                        font-weight: 550;
                        line-height: 20px;
                      }
                      .ui-button-hover-icon {
                        display: flex;
                        right: 0;
                        width: 20px;
                        opacity: 0;
                        height: 20px;
                        align-items: center;
                        line-height: 20px;
                        justify-content: center;
                        position: absolute;
                        transform: translate3d(100%, 0, 0);
                        transition: all 300ms cubic-bezier(.165, .84, .44, 1);
                      }
                    }
                  }

                  .ui-button:hover {
                    opacity: 1;
                    .ui-button-hover-icon {
                      opacity: 1;
                      transform: translate3d(120%, 0, 0);
                    }
                  }
                }
                .button-forgot-password {
                  margin-top: 10px;
                  text-align: center;
                  .link {
                    color: #005bd3;
                    text-decoration: none;
                    &:hover {
                      color: #004299;
                    }
                  }
                }
              }
              .external-login-divider-container {
                padding: 0 32px;
                .external-login-divider {
                  margin-top: 16px;
                  margin-bottom: 16px;
                  width: 100%;
                  line-height: 20px;
                  text-align: center;
                  display: flex;
                  align-items: center;
                  background: none;
                  justify-content: center;
                  position: relative;
                  .external-login-divider-text {
                    padding: 0 12px;
                    color: #616161;
                  }
                }
                .external-login-divider:before{
                  left: 0;
                  content: "";
                  background: #e3e3e3;
                  height: 1px;
                  position: absolute;
                  width: 45%;
                }
                .external-login-divider:after{
                  right: 0;
                  content: "";
                  background: #e3e3e3;
                  height: 1px;
                  position: absolute;
                  width: 45%;
                }
              }
              .external-login-providers {
                display: grid;
                .ui-button-google {
                  border-radius: 8px;
                  opacity: 0;
                  animation: expandHorizontalCenter 0.5s ease-out forwards;
                  animation-delay: 0.5s;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background: #f1f1f1;
                  padding: 8px;
                  border: none;
                  .button-google-text {
                    color: #606060;
                    font: 1rem "ShopifySans", -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
                    font-size: 14px;
                    font-weight: 550;
                  }
                  .button-google-icon {
                    margin-left: 5px;
                    font-size: 30px;
                    width: 30px;
                    height: 30px;
                  }
                }
                .ui-button-google:active {
                  background-color: #ebebeb;
                  box-shadow: 0 2px 1px 0 rgba(26,26,26,0.2) inset,
                  1px 0 1px 0 rgba(26,26,26,0.12) inset,
                  -1px 0px 1px 0px rgba(26,26,26,0.12) inset,
                  0px -1px 0px #b5b5b5 inset;
                }
                .ui-button-google:hover {
                  background-color: #ebebeb;
                  .button-google-icon {
                    display: flex;
                    align-items: center;
                    font-size: 25px;
                    transition: 0.3s cubic-bezier(0.19, 0.91, 0.38, 1);
                    transform: scale(0.9) translate3d(0, 0, 0);
                    backface-visibility: hidden;
                  }
                }
              }
              .help-link {
                margin-top: 32px;
                font-size: 13px;
                font-style: normal;
                .help-link-text {
                  color: #303030;
                  font-weight: 550;
                  font-family: system-ui;
                  line-height: 20px;
                  margin-right: 5px;
                }
                .ui-arrow-link {
                  margin-left: 0;
                  display: inline-flex;
                  color: #005bd3;
                  font-family: system-ui;
                  line-height: 20px;
                  text-decoration: none;
                  font-weight: 550;
                  font-size: 14px;
                  background: transparent;
                  .arrow-link-icon {
                    margin-left: 5px;
                    .icons {
                      font-size: 15px;
                    }
                  }
                }
                .ui-arrow-link:hover {
                  color: #004299;
                  .arrow-link-icon {
                    transform: translate3d(3px, 0, 0);
                    transition: transform 0.3s cubic-bezier(.165, .84, .44, 1);
                  }
                }
              }
              .help-link-signIn {
                display: flex;
                justify-content: center;
              }
            }
          }
        }
      }
      .footer {
        padding: 2.5rem 2.5rem 2.5rem;
        .footer-link {
          .link {
            color: #616161;
            font-size: 12px;
            font-style: normal;
            font-weight: 450;
            text-decoration: none;
            line-height: 16px;
            margin-right: 8px;
          }
          .link:hover {
            color: #454f5b;
            text-decoration: underline solid Currentcolor;
          }
        }
      }
    }
  }
  .gradient-background-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #141414;
    .gradient-background {
      top: 0;
      left: 0;
      filter: blur(250px);// phân tán màu đi như kiểu làm nhòe màu hay màu thêm nước vào ấy
      height: 100%;
      width: 100%;
      transform: translate3d(0,0,0);// cố định vị trí theo 3 chiều
      position: absolute;
      .gradient-background-left {
        bottom: 0;
        left: 0;
        width: 750px;
        height: 750px;
        background: #8e7bff;
        transform: translate(-30%, 40%); // như kiểu chỉnh tọa độ x,y trong một fragment mà ko ảnh hưởng đến các thành phần

        animation-iteration-count: infinite;// tạo ra một luồng để khiến cho animation lặp lại một cách vô tận
        animation-duration: 20s;// thời lượng animation
        position: absolute;
        border-radius: 100%;
        animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
      }
      .gradient-background-right {
        top: 0;
        right: 0;
        width: 650px;
        height: 650px;
        background: #44f2eb;
        transform: translate(20%, -40%); // như kiểu chỉnh tọa độ x,y trong một fragment mà ko ảnh hưởng đến các thành phần

        animation-iteration-count: infinite;// tạo ra một luồng để khiến cho animation lặp lại một cách vô tận
        animation-duration: 20s;// thời lượng animation
        position: absolute;
        border-radius: 100%;
        animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
      }
    }
    .gradient-background-noise {
      position: absolute;// cần có position này để có thể set top left right các kiểu nói chung như frame layout ấy
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("https://cdn.shopify.com/shopifycloud/identity/assets/gradient/noise-ae0ab1628dee87591c6f6d3740b6e7e4e5109417e35a0781070d9d737f959e22.png");
      background-size: 100px;// size hình ảnh
    }
  }
}