.container {
  .info-container {
    padding: 50px 0;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    .panel {
      background-color: #a7fcef;
      border-radius: 10px;
      width: 15rem;
      padding: 5px;
      height: 10rem;
      .panel-ui {
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: end;
        .star {
          margin-right: 5px;
        }
        p {
          width: 80px;
          margin: 0;
        }
        img {
          width: 24px;
          height: 24px;
        }
        .img {
          margin-left: 90px;
        }
      }
      .money {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        p {
          font-weight: 550;
          font-size: 20px;
          margin: 0;
        }
      }
    }
    .panel-profit {
      margin-right: 5rem;
    }
    .panel-revenue {

    }
    .panel-expense {
      margin-left: 5rem;
    }
    .combobox {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .panel-chart {
      border-radius: 10px;
      width: 70%;
      background-color: #a7fcef;
      height: 48vh;
    }
  }
}