@keyframes expandTopToBottom {
  0% {
    height: 0;
  }

  100% {
    height: auto;
  }
}


@keyframes ui-icon{
  0% {
    width: 0;
    height: 3px;
  }
  50% {
    width: 2.5rem;
    height: 3px;
  }
  100% {
    width: 2.5rem;
    height: 2.5rem;
  }
}


.shop-container {
  padding: 8rem 2rem;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  .ui-shop {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .ui-shop-top {
      display: flex;
      justify-content: center;
      .ui-option {
        margin-right: 4rem;
      }
      .ui-search {
        width: 18rem;
        .next-input {
          .combined-input{
            display: flex;
            justify-content: center;
            align-items: center;
            .input {
            }
            .ui-icon {
              width: 3rem;
              justify-content: center;
              align-items: center;
              display: flex;
              height: 2.5rem;
              z-index: 1;
              background-color: #1eabbb;
              img {
                width: 1.5rem;
                height: 1.5rem;
                z-index: 2;
              }
            }
            .ui-icon:after {
              content: "";
              width: 0;
              position: absolute;
              height: 3px;
              background-image: linear-gradient(to right, #82e4e7, #3d8cf3);
              z-index: -1;
            }
            .ui-icon:hover:after {
              animation: ui-icon 0.3s forwards;
            }
            .ui-icon:active {
              opacity: 0.7;
            }
          }
        }
      }
      .ui-combobox {

      }
      .ui-tow-bar {

      }
      .ui-button {
        .btn-price-filter {
          height: 2.5rem;
          font-weight: 500;
          background-color: #1eabbb;
          width: 6rem;
          color: #dedede;
        }
        .btn-price-filter:after {
          background-image: linear-gradient(to right, #82e4e7, #3d8cf3);
        }
        .btn-price-filter:hover {
          background-color: #1eabbb;
        }
      }
    }
    .ui-shop-center {
      display: grid;
      padding-top: 5rem;
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(calc(15% - 0rem), 1fr));
      grid-auto-rows: auto;
      gap: 2rem;
      justify-content: center;
    }
    .ui-shop-bottom {
      padding: 5rem 0;
    }
  }
}