.container-lg  {
  width: 50%;
  padding-top: 7%;
  padding-bottom: 5%;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  z-index: 1;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  padding: 1em 2em 1em 3.5em;
  margin: 0 0 2em;
  position: relative;
  list-style: none outside;
  word-wrap: break-word;
}

.container-lg .woocommerce-form-login-toggle,
.container-lg .woocommerce-form-coupon-toggle,
.container-lg .woocommerce-checkout,
form.checkout_coupon,
form.woocommerce-form {
  position: relative;
  margin-bottom: 35px;
  width: 100%;
  border-radius: 5px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  26px 26px 52px #898989,
  -26px -26px 52px #ffffff;
}

.woocommerce-info {
  padding: 1rem 3.5rem 1rem 2rem;
  border: none;
  color: #1a1a1a;
  z-index: 1;
  display: flex;
}
.woocommerce-info a {
  margin-left: 0.5rem;
}

a:hover {
  color: #1a1a1a;
}


a {
  color: #d74544;
  transition: all 215ms;
}

.icons {
  color: #d74544;
  display: flex;
  height: 100%;
  size: 40px;
  align-items: center;
  top: 0;
  left: unset;
  right: 2rem;
  position: absolute;
}

.icons .custom-icon {
  width: 20px;
  height: 20px;
}

.container-lg .checkout {
  padding: 16px 48px;
  margin-bottom: 20px;
}

.woocommerce-NoticeGroup {
  margin-top: 1rem;
}

.woocommerce-NoticeGroup-checkout {

}

.woocommerce-error {
  padding: 1em 2em 1em 1.5em;
  border-radius: 15px;
  background-color: #fff;
  margin: 0 0 2em;
}

.woocommerce-error li {
  margin-top: 0.25em;
}

strong {
  font-weight: 500;
}

.woocommerce-error .custom-icon {
  display: flex;
  height: 100%;
  align-items: center;
  top: 0;
  left: unset;
  right: 1.5rem;
}

.woocommerce-billing {
  display: flex;
  flex-direction: column;
  .full-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .ui-last-name {
      width: 45%;
    }
    .ui-first-name {
      width: 45%;
    }
  }
}

.custom-icon {
  position: absolute;
  color: #b81c23;
  width: 25px;
  height: 25px;
}
.checkout .col2-set {
  width: 100%;
}

.checkout .col2-set .p-0 {
  padding: 0 !important;
}

.checkout .col2-set .col h4 {
  font-weight: 630;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: normal;
  font-family: inherit;
}

h4 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}


.container-lg .checkout .form-row {
  margin: 0.5rem 0 1rem;
}

.container-lg .checkout .form-row {
  padding: 3px 0;
  align-items: center;
}
.container-lg .checkout .form-row-first {
  float: left;
}

.container-lg .checkout .form-row-last {
  float: right;
}

.container-lg .checkout .form-row-first,
.container-lg .checkout .form-row-last {
  width: 47%;
  overflow: visible;
}
.container-lg .checkout .form-row-wide {
  clear: both;
}


.form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.container-lg .checkout .form-row label {
  margin-right: 1rem;
  color: #1a1a1a;
  font-weight: 500;
  margin-bottom: 0.65rem;
  margin-top: 0.5rem;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  letter-spacing: normal;
}

.container-lg .form-row .required {
  visibility: visible;
  font-weight: 400;
  border: 0!important;
  text-decoration: none;
  color: #d74544;
  font-family: none;
}

.woocommerce-input-wrapper {
  flex-grow: 1;
}

.woocommerce-input-wrapper .input-text {
  width: 100%;
}

input:hover,
input:hover,
.select2-container .select2-selection:hover,
.select2-container .select2-selection:focus,
.container-lg  .form-row .input-text-area:hover,
.container-lg  .form-row .input-text-area:focus {
  border-color: #d74544!important;
}

input {
  overflow: visible;
  outline: none;
  transition: all .215s ease;
}

.woocommerce-input-wrapper {
  flex-grow: 1;
}

.woocommerce-input-wrapper select {
  cursor: pointer;
}

.woocommerce-input-wrapper .select2-hidden-accessible {
  border: 0!important;
  clip: rect(0 0 0 0)!important;
  height: 1px!important;
  margin: -1px!important;
  overflow: hidden!important;
  padding: 0!important;
  position: absolute!important;
  width: 1px!important;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.select2-container {
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  line-height: 2em;
}

.select2-container .select2-selection--single {
  border-radius: 0;
  line-height: 1.23536;
  font-weight: 400;
  text-overflow: ellipsis;
  border: 1px solid #e4e5e7;
  height: unset !important;
  transition: all .215s ease;
  background-color: #fff;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  margin: 0 0 -4px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 2.875rem;
  padding: 0 1rem;
  color: #1a1a1a;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.select2-container .select2-selection--single .select2-selection__arrow {
  height: 3rem !important;
  position: absolute !important;
  top: 0 !important;
  right: 1rem;
  width: 1rem !important;
}


.select2-container .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  font-weight: 600;
  width: 0;
}

.container-lg  .form-row  label.checkbox {
  display: inline;
}

.container-lg  .form-row .input-checkbox {
  display: inline;
  margin: -2px 8px 0 0;
  text-align: center;
  vertical-align: middle;
}

.container-lg  .form-row .input-text-area  {
  min-width: 15rem;
  min-height: 5rem;
  line-height: 1.5;
  display: block;
  box-shadow: none;
  overflow: visible;
  outline: none;
  height: 42%;
}

.container-lg .checkout .woocommerce-checkout-review-order table {
  box-shadow: none;
  padding: 1rem;
  border-radius: 0;
  border: 1px solid #e4e5e7;
  background: #fff;
  margin: 0 -1px 24px 0;
  text-align: left;
  width: 100%;
  border-collapse: separate;
  th {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: normal;
    border-color: #fff;
    font-weight: 600;
    padding: 9px 12px;
  }
  td {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: normal;
    border-color: #fff;
    padding: 9px 12px;
    vertical-align: middle;
    strong {
      font-weight: 700;
    }
  }
  .cart-subtotal {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: normal;
    th,td {
      margin-top: 1rem;
      padding-top: 2rem;
      border-top: 1px solid #e4e5e7;
      border-spacing: 0;
      font-size: 18px;
      line-height: 1.5;
      font-weight: bold !important;
      letter-spacing: normal;
    }
    td {
      color: #d74544;
    }
  }
  .order-total {
    th, td {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: normal;
      border-color: #fff;
    }
    td {
      padding: 0 13px;
      border-radius: 0;
      background-color: #f0f0f0;
      span {
        color: #d74544;
        font-weight: 700;
      }
    }
  }
}

.order_review_heading {
  margin-bottom: 1em;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: normal;
  font-family: inherit;
}

textarea {
  border-radius: 0;
  padding: 22px;
  line-height: 1.23536;
  font-weight: 400;
  text-overflow: ellipsis;
  border: 1px solid #e4e5e7;
  transition: all .215s ease;
  font-size: 16px;
  letter-spacing: normal;
}

.form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

form.checkout_coupon {
  padding: 2rem 3rem;
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .form-row.form-row-first {
    width: 41%;
    display: inline-block;
    padding: 3px 0;
    align-items: center
  }
  .form-row.form-row-last {
    margin-left: -7%;
    display: inline-block;
    margin: 0;
    padding: 3px 0;
    align-items: center;
  }
  // .form-row.form-row-last:hover {
  //     background-color: #d74544;
  // }
  .input-text {
    padding: 0.8125em 17% 0.8125em 1.3875em;
    width: 100% !important;
    font-size: 16px;
    height: 50px;
    letter-spacing: normal;
    background: white;
    border: 1px solid #e4e5e7;
  }
  .button {
    white-space: pre;
    padding: 0.8125em 1.5425em;
    min-width: 160px;
    height: 50px;
    border: 1px solid #d74544;
    font-weight: 500;
    color: #d74544;
    background: transparent;
    box-shadow: none;
    font-size: 16px;
    letter-spacing: normal;
    border-radius: 0;
    background: #fff;
  }
  .button:hover {
    color: #1a1a1a;
    background-color: #b81c23;
  }
}

.container-lg .checkout .woocommerce-checkout-payment {
  ul {
    border-bottom: 1px solid #d8d5d0;
    text-align: left;
    padding: 1em;
    margin: 0;
    list-style: none outside;
    li {
      line-height: 2;
      text-align: left;
      margin: 0;
      font-weight: 400;
      list-style-position: inside;
      padding-bottom: 0.5rem;
      input {
        margin: 0 0.5em 0 0;
        box-sizing: border-box;
        padding: 0;
        border-radius: 0;
        line-height: 1.23536;
        font-weight: 400;
        text-overflow: ellipsis;
        transition: all .215s ease;
        outline: none;
        overflow: visible;
        border: 1px solid #e4e5e7;
      }
      label {
        cursor: pointer;
        font-size: 18px;
        line-height: 1.5;
        transition: all 0.3s;
        letter-spacing: normal;
        margin-bottom: 0.5rem;
      }
      label:hover {
        color: #d74544!important;
      }
      .payment_box {
        display: none;
        background-color: #f1f3f6;;
        color: #515151;
        font-weight: 500;
        border-radius: 0;
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: normal;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        padding: 1em;
        margin: 1em 0;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;

        p {
          margin-bottom: 0;
        }
      }
      .payment_box.active {
        display: block;
        opacity: 1;
      }
    }
  }
}

.woocommerce-checkout-payment .gmail .buttons {
  font-size: 18px;
  margin-left: auto;
  letter-spacing: normal;
  border-radius: 0;
  color: #fff;
  min-width: 3.25rem;
  padding: 0.2em 1.1em;
  text-align: center;
  font-weight: 500;
  text-shadow: none !important;
  line-height: 22px;
  transition: all .45s;
  background: #d74544;
  box-shadow: unset;
  border: none;
}

.container-lg .checkout .woocommerce-checkout-payment {
  .button {
    font-size: 14px;
    margin-left: auto;
    letter-spacing: normal;
    border-radius: 0;
    color: #fff;
    min-width: 3.25rem;
    padding: 0.7em 1.764em;
    text-align: center;
    font-weight: 500;
    text-shadow: none !important;
    line-height: 22px;
    transition: all .45s;
    background: #d74544;
    box-shadow: unset;
    border: none;
  }
  button:hover {
    background: #1a1a1a;
  }
}

.woocommerce-form-login {
  margin: 2rem auto;
  padding: 2rem 3rem;
}

.woocommerce-checkout-payment .gmail .woocommerce-input-wrapper {
  display: flex;
}

