
.ui-supportClient {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .nameTab-top-container {
      display: flex;
      width: 75vh;
      align-items: center;
      justify-content: space-between;
      .icon-name {
        user-select: none;
        opacity: 0.5;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          margin-left: 10px;
        }
      }
      .active-icon-name1 {
        opacity: 1;
        path {
          fill: orange;
        }
      }
      .active-icon-name2 {
        opacity: 1;
        path {
          fill: green;
        }
      }
      .active-icon-name3 {
        opacity: 1;
        path {
          fill: red;
        }
      }
      .icon-name:hover {
        opacity: 1;
      }
    }
    .ui-scroll-bar {
      display: flex;
      margin-top: 20px;
      position: relative;
      align-items: center;
      justify-content: left;
      .view-bar {
        background-color: rgba(96, 96, 96, 0.5);
        height: 3px;
        width: 90vh;
        border-radius: 5px;
      }
      .scroll-bar {
        transform: translateX(0);
        transition: all 500ms;
        height: 3px;
        width: 30vh;
        background-color: #ff0000;
        border-radius: 5px;
        position: absolute;
      }
    }
  }
  .bottom-container {
    margin-top: 20px;
  }
}