.product-container {
  width: 14rem;
  height: 16rem;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: rgba(30, 171, 187, 0.57);
  border-radius: 10px;
  background-image: radial-gradient(circle, #e3e3e3, #f9ffff);
  box-shadow:  26px 26px 50px #cacaca,
  -26px -26px 50px #f6f6f6;
  .product-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    img {
      user-select: none;
      width: 10rem;
      height: 10rem;
    }
  }
  .product-bottom {
    display: flex;
    padding: 10px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .ui-data {
      display: flex;
      justify-content: center;
      align-items: center;
      .icon {
        user-select: none;
        overflow: hidden;
        width: 36px;
        height: 36px;
        border-radius: 8px;
      }
      .name-laptop {
        width: 155px;
        margin-left: 10px;
        font-size: 14px;
        p {
          margin: 0;
          text-align: center;
          align-items: center;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 1.2em;
          max-height: 2.4em;
        }
      }
    }
    .price {
      height:25%;
      background-color: #ffffff;
      border-radius: 8px;
      margin-top: 10px;
      padding: 10px 10px;
      font-size: 14px;
      p {
        margin: 0;
        user-select: none;
      }
    }
    .button-cart {
      width: 100%;
      cursor: pointer;
      display: flex;
      justify-content: left;
      .button {
        display: flex;
        padding: 0 10px;
        margin-top: 10px;
        font-size: 14px;
        align-items: center;
        border-radius: 5px;
        transition: all 100ms;
        p {
          font-size: 15px;
          margin: 0;
          user-select: none;
        }
        .icons {
          font-size: 14px;
          opacity: 0;
          transform: translate3d(0%, 0, 0);
          transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1)
        }
      }
      .button:hover {
        .icons {
          opacity: 1;
          transform: translate3d(50%, 0, 0);
        }
      }
      .button:active {
        opacity: 0.9;
        background-color: #969696;
      }
    }
  }
  .ui-cart {
    right: 0;
    bottom: 0;
    border-top-left-radius: 8px;
    background: #a3fff8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    transition: all 300ms;
    .cart {

    }
    &:hover {
      width: 40px;
      height: 40px;
    }
  }
  .clicked-choice {
    .cart {
      height: 15px;
      width: 15px;
      background-size: 100% 100%;
      background-image: url('../../assets/images/success.svg');
    }
    &:hover {
      background: #44f2eb;
      .cart {
        height: 20px;
        width: 20px;
      }
    }
  }
  .clicked-unChoice {
    .cart {
      height: 15px;
      width: 15px;
      background-size: 100% 100%;
      transition: all 300ms cubic-bezier(0.19, 0.91, 0.38, 1);;
      background-image: url('../../assets/images/cart-shopping.svg');
    }
    &:hover {
      background: #44f2eb;
      .cart {
        height: 20px;
        width: 20px;
      }
     }
  }
}
.product-container:hover {
  transform: translateY(-5px);
  box-shadow:  26px 26px 66px #a7e1e8,
  -26px -26px 66px #ffffff;
}